body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }

  
  header {
    background-color: #fff;
    color: #333;
    padding: 20px 20px;
    font-family: "Times New Roman", Times, serif;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 60px;
  }
  nav ul li a {
    text-decoration: none;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  
  .freelancer-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .freelancer-form h1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;

  }
  
  .form-group {
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .form-group input[type="text"],
  .form-group input[type="file"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  .form-group button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social-buttons {
    text-align: center;
  }
  
  .linkedin-btn, .github-btn {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .linkedin-btn:hover, .github-btn:hover {
    background-color: #0056b3;
  }
  